{% extends "base.html" %}

{% block title %}Listado de Productos{% endblock %}

{% block content %}
<h2 class="text-2xl font-semibold mb-4">Listado de Productos</h2>
<table class="min-w-full bg-white border">
    <thead class="bg-gray-800 text-white">
        <tr>
            <th class="w-1/6 py-2">ID</th>
            <th class="w-1/6 py-2">Nombre</th>
            <th class="w-1/6 py-2">Descripcion</th>
            <th class="w-1/6 py-2">Precio</th>
            <th class="w-1/6 py-2">Stock</th>
            <th class="w-1/6 py-2">Acciones</th>
        </tr>
    </thead>
    <tbody class="text-gray-700">
        {% for product in products %}
        <tr>
            <td class="text-center py-2">{{ product.id }}</td>
            <td class="text-center py-2">{{ product.names }}</td>
            <td class="text-center py-2">{{ product.descriptions }}</td>
            <td class="text-center py-2">{{ product.price }}</td>
            <td class="text-center py-2">{{ product.stock }}</td>
            <td class="text-center py-2 space-x-2">
                <a href="{{ url_for('Product.get_product', id=product.id) }}" class="text-blue-500 hover:text-blue-700">Ver</a>
                <a href="{{ url_for('Product.update_product', id=product.id) }}" class="text-yellow-500 hover:text-yellow-700">Editar</a>
                <form method="POST" action="{{ url_for('Product.delete_product', id=product.id) }}" style="display:inline;">
                    <button type="submit" class="text-red-500 hover:text-red-700">Eliminar</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('Product.create_product') }}" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 mt-4 inline-block">Añadir Producto</a>
{% endblock %}
